:root {
    --primary-color: #800080;
    --accent-color: #6c016c;
    --white-color: #FFFFFF;
    --black-color: #000;
}

.skillsSection {
    background-color: var(--primary-color);
}

.skillsTitle {
    color: var(--white-color);
    text-align: center;
}

.skillsIcon {
    margin: 25px;
}